<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--参考网址：http://blog.csdn.net/conquer0715/article/details/9365899-->

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--指定logger name为包名或类全名 指定级别 additivity设置是否传递到root logger -->
    <logger name="com.wheel.test.LogTest" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--级别:TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF 低级别不能输出高级别-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>